@import 'style.css';
@import './plugins/plugins.css';
@import './vendor/base.css';
@import './vendor//bootstrap.min.css';
@import './vendor/slick-theme.css';
@import './vendor/slick.css';

html body{
    background-color: #F0F2F5 !important;
}
.post-thumbnail img {
    width: 100%;
    height: 100%;
}